@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,600");

:root {
  --background: rgba(35, 44, 131, 0.99);
  --background-2: rgba(216, 219, 226, 0.99);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  background: white;
  font-family: "Work Sans", sans-serif;
  font-size: small;
  font-weight: 500;
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
  /* grid-template-areas:
    "h"
    "p"
    "c"
    "f"; */
}
/* 
.img {
  grid-area: p;
}

header {
  grid-area: h;
}

.footer {
  grid-area: f;
} */

.content {
  /* float: none; */
  /* position: relative; */
  border: 2px solid orangered;
  /* overflow:hidden; */
  /* height: max-content; */
  /* grid-area: c;
}

.footer {
  margin-bottom: 0;
  position: relative; 
  display: block;
  background: rgb(216, 92, 54);
  background: linear-gradient(
    0deg,
    rgba(216, 92, 54, 1) 17%,
    rgba(255, 255, 255, 1) 100%
  );
  border-top: 1px solid var(--background);
}

.content {
  height: 200vh;
  /* background-image: url(../Hadjizlatev/Images/turnovo1.JPG); */
  background-color: white;
  background-blend-mode: multiply;
  background-size: cover;
  /* display: grid; */
  place-items: center;
}

header {
  /* background: var(--background); */
  background: white;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 999;
  box-shadow: 0px 8px 31px -8px #000000;
}

.logo {
  /* width: auto; */
  max-width: 40%;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  /* background: var(--background); */
  background: white;
  width: 100%;
  /* display: none; */
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: small;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #d85c36;
}

.nav-toggle {
  display: none;
}

.nav-toggle:checked ~ nav {
  /* display: block; */
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 300ms;
}

.nav-toggle-label {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: rgb(216, 92, 54, 1) 100%;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: " ";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

.intro {
  padding: 1em 4em;
  text-align: justify;
}

.intro h2 {
  color: #d85c36;
  text-align: center;
}

#about {
  opacity: 0;
  margin: 0;
}

.img {
  /* position: absolute; */
  /* top: 0; */
  width: 100vw;
  max-width: 99.9%;
  height: 100vh;
  object-fit: cover;
}

.services > img {
  position: absolute;
  margin-left: 0;
  right: 0px;
  z-index: 9;
  height: 40vh;
  width: 100vw;
  object-fit: cover;
  object-position: 0 25%;
  opacity: 36%;
}

.services > h2 {
  text-align: center;
  z-index: 10;
  margin-bottom: 3em;
  color: #d85c36;
  opacity: 1;
}

.sections img {
  width: 80vw;
  margin-right: auto;
  margin-left: auto;
  /* padding: 1em 4em; */
}

.sections p {
  width: 80vw;
  /* padding: 1em 4em; */
  text-align: justify;
}

.sections h2 {
  font-size: 1rem;
}

.sections div {
  z-index: 10;
  align-self: center;
}

.sections {
  position: relative;
  /* margin: 1.5em; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}

section {
  position: relative;
}

.projects {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(216, 92, 54, 1) 100%
  );
  /* background: rgb(216, 219, 226); */
  position: absolute;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 0.4em;
}

.project-h2 {
  background: rgb(216, 92, 54, 1) 100%;
  margin-bottom: 0;
  padding: 1em;
  /* margin-left: 3em; */
  text-align: center;
}

.projects img {
  background: black;
  object-fit: fill;
  display: block;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  transition: 250ms ease-in-out;
}

.projects p {
  position: relative;
  height: 0;
  margin: 0.5em;
  font-weight: 600;
  bottom: 2.5em;
  color: var(--background);
  color: rgb(245, 206, 194);
  opacity: 0;
  margin-left: auto;
  width: 95%;
}

.projects img:hover ~ p {
  opacity: 1;
}

.projects img:hover {
  transform: scale(1.1);
  /* opacity: 0.5; */
  transition: 250ms ease-in-out;
}

.projects div {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 700px) {
  .sections {
    margin-left: 3em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
  }

  .sections p {
    width: 90%;
  }

  .sections img {
    width: 90%;
  }

  .nav-toggle-label {
    display: none;
  }

  .navbar {
    display: grid;
    grid-template-columns: 1fr auto minmax(500px, 3fr) 1fr;
    grid-template-rows: 1fr;
  }

  .logo {
    all: unset;
    min-width: 8em;
    max-width: 80%;
    margin-left: 1em;
    grid-column: 1 / 2;
  }

  nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-left: 1em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
  }
}
